body {
  background-color: #f2f2f2;
  font-family: Arial;
}

h1 {
  color: #2c3e50;
}

h2 {
  color: #34495e;
}

p {
  font-size: 16px;
}

table {
  background-color: white;
}

.highlight {
  background-color: yellow;
}

#name {
  color: darkblue;
}
