body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

h2 {
  color: #34495e;
  margin-top: 20px;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  padding: 5px;
}

img {
  display: block;
  margin: 10px auto;
  border: 2px solid #555;
  padding: 5px;
}

table {
  background-color: white;
  margin-top: 10px;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  border: 1px solid #aaa;
}

ul {
  margin-left: 20px;
}
